<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head' ) %>
</head>
<body>  

    <%- include('partials/navigation') %>  
    <main class ="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"> 
        <section>
            <h1 class = "display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi distinctio similique reiciendis dolores eius aperiam, nihil rem iusto cum, commodi consequatur voluptatum aliquam ex cupiditate itaque? Pariatur ullam maxime perspiciatis repudiandae minima inventore tempore ut? Magni dignissimos saepe exercitationem hic magnam, quas ut nihil! Voluptatem molestiae rerum dicta sint est error, enim nostrum corporis vel aliquam unde totam natus sed, dolore iusto optio molestias quia consequatur iste ullam saepe ad laboriosam. Esse eos placeat, nostrum labore exercitationem eveniet consectetur maxime perferendis suscipit ab facere corporis vero voluptatum magni a optio magnam eius, quis aut! Tempore, molestias? Sint, provident odio. Ab accusantium, quia dolores laudantium nihil saepe earum possimus aut neque nesciunt ipsa, cum tempore! Et, obcaecati. A facere vel perspiciatis, id laboriosam saepe earum illum alias asperiores accusantium dicta porro autem voluptate dolores illo ad molestias cumque eligendi. Soluta iusto repellat dolorum atque provident voluptates, molestias maiores quas fuga cumque ab eligendi eius quidem, minus deserunt error saepe. Beatae magnam harum tempore consequatur. Fuga vero quae minus doloremque nam nulla asperiores cum alias et numquam illum repellendus molestiae quibusdam dignissimos error suscipit sapiente nesciunt, quasi eum impedit adipisci magnam accusamus culpa? Nesciunt quasi veniam dolore quas? Eum natus possimus magni.</p>
        </section>
    </main>
</body>
</html>